services:
  # base-open5gs-asan is a build-only image with ASAN enabled
  # Not meant to be run as a container
  base-open5gs-asan:
    image: "open5gs/base-open5gs-asan:${OPEN5GS_VERSION}"
    build:
      context: ../../images/base-open5gs-asan
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}

  # base-open5gs is still needed for SMF and NRF (non-ASAN versions)
  base-open5gs:
    image: "open5gs/base-open5gs:${OPEN5GS_VERSION}"
    build:
      context: ../../images/base-open5gs
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}

  smf:
    container_name: smf
    image: "open5gs/smf:${OPEN5GS_VERSION}"
    build:
      context: ../../images/smf
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/smf.yaml"
    networks:
      open5gs:
        aliases:
          - smf.open5gs.org
    configs:
      - source: smf_config
        target: /etc/open5gs/custom/smf.yaml
    depends_on:
      - base-open5gs
      - nrf
      - upf-asan
    init: true
    stop_grace_period: 10s

  upf-asan:
    container_name: upf
    image: "open5gs/upf-asan:${OPEN5GS_VERSION}"
    build:
      context: ../../images/upf-asan
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/upf.yaml"
    networks:
      open5gs:
        ipv4_address: 10.33.33.3
        aliases:
          - upf.open5gs.org
    extra_hosts:
      docker-host.external-ip: ${DOCKER_HOST_IP}
    configs:
      - source: upf_config
        target: /etc/open5gs/custom/upf.yaml
    ports:
      - "2152:2152/udp"
      - "8805:8805/udp"
    privileged: true
    cap_add:
      - NET_ADMIN
    depends_on:
      - base-open5gs-asan
    init: true
    stop_grace_period: 10s
    # Mount volume for ASAN logs
    volumes:
      - upf_asan_logs:/var/log/open5gs

  nrf:
    container_name: nrf
    image: "open5gs/nrf:${OPEN5GS_VERSION}"
    build:
      context: ../../images/nrf
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/nrf.yaml"
    networks:
      open5gs:
        aliases:
          - nrf.open5gs.org
    configs:
      - source: nrf_config
        target: /etc/open5gs/custom/nrf.yaml
    depends_on:
      - base-open5gs
    init: true
    stop_grace_period: 10s

networks:
  open5gs:
    name: open5gs
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-ogs
    ipam:
      config:
        - subnet: 10.33.33.0/24

volumes:
  upf_asan_logs:
    name: upf_asan_logs

configs:
  smf_config:
    file: ../../configs/smf.yaml
  upf_config:
    file: ../../configs/upf.yaml
  nrf_config:
    file: ../../configs/nrf.yaml
