services:
  # base-open5gs is a build-only image, not meant to be run as a container
  # Other services depend on it to copy compiled binaries during their build
  # Note: No command/entrypoint defined, so it won't run even if included
  base-open5gs:
    image: "open5gs/base-open5gs:${OPEN5GS_VERSION}"
    build:
      context: ../../images/base-open5gs
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}

  nrf:
    container_name: nrf
    image: "open5gs/nrf:${OPEN5GS_VERSION}"
    build:
      context: ../../images/nrf
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/nrf.yaml"
    networks:
      open5gs-4g:
        ipv4_address: 10.44.44.7
        aliases:
          - nrf.open5gs.org
    configs:
      - source: nrf_config
        target: /etc/open5gs/custom/nrf.yaml
    depends_on:
      - base-open5gs
    init: true
    stop_grace_period: 10s

  mongodb:
    container_name: mongodb
    image: mongo:5.0
    command: mongod --bind_ip 0.0.0.0
    networks:
      open5gs-4g:
        ipv4_address: 10.44.44.8
        aliases:
          - mongodb.open5gs.org
    volumes:
      - mongodb_data:/data/db
    init: true
    stop_grace_period: 10s

  pcrf:
    container_name: pcrf
    image: "open5gs/pcrf:${OPEN5GS_VERSION}"
    build:
      context: ../../images/pcrf
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/pcrf.yaml"
    networks:
      open5gs-4g:
        ipv4_address: 10.44.44.9
        aliases:
          - pcrf.open5gs.org
    configs:
      - source: pcrf_config
        target: /etc/open5gs/custom/pcrf.yaml
      - source: pcrf_fd_config
        target: /etc/freeDiameter/pcrf.conf
    depends_on:
      - base-open5gs
      - mongodb
    init: true
    stop_grace_period: 10s

  upf:
    container_name: upf
    image: "open5gs/upf:${OPEN5GS_VERSION}"
    build:
      context: ../../images/upf
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/upf.yaml"
    networks:
      open5gs-4g:
        ipv4_address: 10.44.44.6
        aliases:
          - upf.open5gs.org
    extra_hosts:
      docker-host.external-ip: ${DOCKER_HOST_IP}
    configs:
      - source: upf_config
        target: /etc/open5gs/custom/upf.yaml
    privileged: true
    cap_add:
      - NET_ADMIN
    depends_on:
      - base-open5gs
    init: true
    stop_grace_period: 10s

  smf:
    container_name: smf
    image: "open5gs/smf:${OPEN5GS_VERSION}"
    build:
      context: ../../images/smf
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/smf.yaml"
    networks:
      open5gs-4g:
        ipv4_address: 10.44.44.4
        aliases:
          - smf.open5gs.org
    configs:
      - source: smf_config
        target: /etc/open5gs/custom/smf.yaml
      - source: smf_fd_config
        target: /etc/freeDiameter/smf.conf
    depends_on:
      - base-open5gs
      - nrf
      - upf
    init: true
    stop_grace_period: 10s

  mme:
    container_name: mme
    image: "open5gs/mme:${OPEN5GS_VERSION}"
    build:
      context: ../../images/mme
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/mme.yaml"
    networks:
      open5gs-4g:
        ipv4_address: 10.44.44.5
        aliases:
          - mme.open5gs.org
    configs:
      - source: mme_config
        target: /etc/open5gs/custom/mme.yaml
      - source: mme_fd_config
        target: /etc/freeDiameter/mme.conf
    ports:
      - "0.0.0.0:36412:36412/sctp"  # S1AP interface
    depends_on:
      - base-open5gs
      - sgwc
    init: true
    stop_grace_period: 10s

  sgwc:
    container_name: sgwc
    image: "open5gs/sgwc:${OPEN5GS_VERSION}"
    build:
      context: ../../images/sgwc
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/sgwc.yaml"
    networks:
      open5gs-4g:
        ipv4_address: 10.44.44.2
        aliases:
          - sgwc.open5gs.org
    configs:
      - source: sgwc_config
        target: /etc/open5gs/custom/sgwc.yaml
    depends_on:
      - base-open5gs
    init: true
    stop_grace_period: 10s

  sgwu:
    container_name: sgwu
    image: "open5gs/sgwu:${OPEN5GS_VERSION}"
    build:
      context: ../../images/sgwu
      args:
        - OPEN5GS_VERSION=${OPEN5GS_VERSION}
        - UBUNTU_VERSION=${UBUNTU_VERSION}
    command: "-c /etc/open5gs/custom/sgwu.yaml"
    networks:
      open5gs-4g:
        ipv4_address: 10.44.44.3
        aliases:
          - sgwu.open5gs.org
    configs:
      - source: sgwu_config
        target: /etc/open5gs/custom/sgwu.yaml
    extra_hosts:
      docker-host.external-ip: ${DOCKER_HOST_IP}
    ports:
      - "0.0.0.0:2152:2152/udp"
      - "0.0.0.0:8805:8805/udp"
    privileged: true
    cap_add:
      - NET_ADMIN
    depends_on:
      - base-open5gs
      - sgwc
    init: true
    stop_grace_period: 10s

networks:
  open5gs-4g:
    name: open5gs-4g
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-ogs4g
    ipam:
      config:
        - subnet: 10.44.44.0/24

configs:
  mme_config:
    file: ../../configs/mme.yaml
  mme_fd_config:
    file: ../../configs/freeDiameter/mme.conf
  pcrf_config:
    file: ../../configs/pcrf.yaml
  pcrf_fd_config:
    file: ../../configs/freeDiameter/pcrf.conf
  sgwc_config:
    file: ../../configs/sgwc.yaml
  sgwu_config:
    file: ../../configs/sgwu.yaml
  smf_config:
    file: ../../configs/smf.yaml
  smf_fd_config:
    file: ../../configs/freeDiameter/smf.conf
  upf_config:
    file: ../../configs/upf.yaml
  nrf_config:
    file: ../../configs/nrf.yaml

volumes:
  mongodb_data:
